/*==================
    main page
====================*/
.slides { 

width: 100%;
text-align: center;
right: 15%;
bottom: 20px;
left: 15%;
padding-top: 20px;
padding-bottom: 20px;



.first {
    background: url("../images/background.png");
    p {
    width: 70%;
    margin: 50px auto 100px;
}
}

.second {
    background: url("../images/slide2.jpg");
}
.third {
    background: url("../images/slide3.jpg");
    p {
    width: 70%;
    margin: 50px auto 100px;
}
}
.fourth {
    background: url("../images/slide4.jpg");
}
.fifth {
    background: url("../images/slide5.jpg");
    p {
    width: 70%;
    margin: 50px auto 100px;
}
}

}
/*==================
    description
====================*/
.title {
  text-align: center;
}

/*==================
    check-out
====================*/
.check-out {
  background-color: #f2f5f7;
  text-align: center;
}

.check-out figure {
  margin: 0;
  padding: 0;
}
.check-out figure p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.check-out1 img {
  display: block;
  max-width: 100%;
}
figure img {
  width: 100%;
}
.check-out figcaption {
  background-color: white;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px #e6e9ed;
  padding: 40px 110px;
  color: #506a85;
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.check-out figcaption small {
  display: block;
  padding-top: 15px;
  color: #73879c;
  font-family: 'Source Sans Pro',sans-serif;;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.check-out1 {
  display: block;
  position: relative;
}
.check-out1 a:hover .hover:before {
  font-size: 60px;
  padding-top: 30%;
  content: '+';
  position: absolute;
  top:0;
  left:0;
  color: #fff;
  background-color: rgba(26, 187, 156, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.more {
  margin-top: 80px;
}
.more img {
  max-width: 100%;
}
.slider {
    margin: 20px;
}
/*==================
    touch
====================*/
.touch {
  text-align: center;
}
.touch .button {
  margin-bottom: 130px;
}